*~
/config.h
/libsd.a
/mdl
/mdl.exe
*.o
*.d
*.test
*.lo
*.la
/vgcore.*
/core.*
*.gcda
*.gcno
/out
/libutf/libutf.a
/expat/.libs
/expat/Makefile
/expat/libtool
/expat/config.log
/expat/config.status
/expat/expat.pc
/expat/expat_config.h
